:root {
	--bg-color: #ffffff;
	--primary-color: #141c1f;
	--secondary-color: #adbcc0;

	// redesigned - light
	--dark-bg-redesigned: #ffffff;
	--bg-redesigned: #eff5f6;
	--light-bg-redesigned: #e2eef1;
	--text-redesigned: #141c1f;
	--hint-redesigned: #adbcc0;
	--cancel-redesigned: #ff7777;
	--save-redesigned: #62de85;
	--icon-redesigned: #5ed3f3;
	--accent-redesigned: #00c8ff;
}
