.app.dark {
	--bg-color: #090f11;
	--inverted-bg-color: #ffffff;

	--primary-color: #dbdbdb;
	--inverted-primary-color: #141c1f;
	--secondary-color: #555555;

	// redesigned - redesign
	//--dark-bg-redesigned: #090f11;
	//--bg-redesigned: #0c1214;
	//--light-bg-redesigned: #151c1f;
	//--text-redesigned: #dbdbdb;
	//--hint-redesigned: #555555;
	//--cancel-redesigned: #d95757;
	//--save-redesigned: #6cd98b;
	//--icon-redesigned: #74a2b2;
	//--accent-redesigned: #5ed3f3;
}
